# 4.6 Combining Data in Pickle Format

# Task 4.6 - Part 1

# This script contains:

## 01. Importing Libraries
## 02. Importing Dataframes
## 03. Merging Dataframes
## 04. Exporting in Pickle Format

### 01. Importing Libraries

In [4]:
#Import Libraries

import pandas as pd
import numpy as np
import os

### 02. Importing Dataframes

In [5]:
# Defining path
path = r'/Users/sanyamohsini/Desktop/CareerFoundry_Data Analytics/Achievement 4/04-2023 Instacart Basket Analysis'

In [6]:
path

'/Users/sanyamohsini/Desktop/CareerFoundry_Data Analytics/Achievement 4/04-2023 Instacart Basket Analysis'

In [7]:
# Importing orders_checked.csv 
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [8]:
# Importing orders_wrangled.csv
df_ords_wrangled = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [9]:
# Importing products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [10]:
# Importing order_products__prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [11]:
# Checking dimensions of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
# Checking dimensions of df_ords
df_ords.shape

(3421083, 8)

In [14]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

### 03. Merging dataframes

In [15]:
# Merging two dataframes with 'order_id' as the key
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [17]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### 04. Export File in Pickle Format

In [18]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

### Remaining steps in second notebook