# Exercise 4.6 Part 2

## This script contains:

## 01. Importing Libraries
## 02. Import Dataframes
## 03. Importing Pickle File
## 04. Check shape of dataframe
## 05. Merge data with products data
## 06. Confirm results using merge flag
## 07. Export

## 01. Import Libraries

In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import os

## 02. Import Dataframes

In [2]:
# Defining path
path = r'/Users/sanyamohsini/Desktop/CareerFoundry_Data Analytics/Achievement 4/04-2023 Instacart Basket Analysis'

In [6]:
path

'/Users/sanyamohsini/Desktop/CareerFoundry_Data Analytics/Achievement 4/04-2023 Instacart Basket Analysis'

In [8]:
# Importing products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## Step 3 - Importing Pickle File

In [9]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Step 4 - Check Shape of Dataframe

In [30]:
# Check shape of df_ords_prods
df_ords_prods_combined.shape

(32434489, 11)

## Step 5 - Merge Dataframe with Products Data

In [13]:
# Check columns for df_ords_prods_combined
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [14]:
# Check shape of df_prods
df_prods.shape

(49672, 6)

In [16]:
# Check columns of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
# Drop unnamed column for df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [19]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [20]:
# Drop '_merge' column for df_ords_prods_combined
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [23]:
# Product_id matches in both dataframes - use as key to merge
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [24]:
# Check output for df_merged
df_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [28]:
# Drop first 2 unnecessary columns
df_merged = df_merged.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0'])

In [29]:
# Check output for df_merged
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

## Step 6 - Confirm the results using a merge flag

In [32]:
# Confirm the results of merge
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [33]:
# Check merge shape
df_merged.shape

(32404859, 14)

## Task 7 - Export

In [34]:
# Export df_merged as pickle file due to size

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))